@import '../../styles/variables';
@import '../../styles/mixins';

.auth-input {
  border: none;
  background-color: $background-color-grey;
  border-bottom: 3px solid $coal;
  font-family: $secondary-text;
  font-size: 18px;
  padding: 10px 0px 10px 10px;
  width: 250px;

  @include md-min {
    width: 350px;
  }

  &:focus {
    outline: none;
    background-color: $darker-grey;
  }
}
