@import '../../styles/variables';

.header__container {
  display: flex;
  font-family: $secondary-text;
  font-weight: 600;
  align-items: center;

  .header-navigation-icons {
    display: flex;
  }

  .header-navigation-links {
    ul {
      list-style-type: none;
    }
  }
}
